<p><font face="SFUIText-Bold" size="4">Чесноков Вячеслав Анатольевич, врач стоматолог-ортодонт</font></p>
<p><font face="SFUIText-Light" size="3">В 2004 году окончил Омскую государственную медицинскую академию. В клинике «ВитаДент» работает с 2011 года. Член професcионального общества ортодонтов России с 2006 года. В 2006 году прошел обучение по теме: «Основы философии и новые концепции механики ортодонтического лечения». В 2012 году прошел обучение по теме: «Актуальные вопросы современной ортодонтической практики». В феврале 2013 года — обучение по теме: «Ортодонтическое лечение у пациентов с заболеваниями пародонта» (г. Санкт-Петербург).</p>
