<p></p>
<p><font face="SFUIText-Bold" size="4">Отбеливание</font></p>
<p><font face="SFUIText-Light" size="3">Красивая белоснежная улыбка &#8212; это признак здоровья и благополучия человека. Именно поэтому отбеливание зубов пользуется популярностью во всем мире.<font face="SFUIText-Light" size="3"></p>
<p><img src="fKwxIR0jHDU.jpg" height="150" align="middle"></p>
<p><font face="SFUIText-Light" size="3">Отбеливание зубов лазером &#8212; это система клинического отбеливания. Для процедуры используется гель, который активируется с помощью лазерного пучка. В результате из перекиси водорода, содержащейся в геле, образуется активный кислород, который проникает в ткани и отбеливает темные пигменты.  Если вы решили добиться максимальных результатов, в максимально короткие сроки, вам стоит обратить внимание именно на отбеливание зубов лазером.</font></p>
<p><font face="SFUIText-Light" size="3" color="red"><strong>Действует скидка 20%</strong></font></p>
<p></p>
<p><font face="SFUIText-Light" size="3"><strong>Air flow</strong></font></p>
<p><font face="SFUIText-Light" size="3">Процедура Air flow &#8212; методика очистки зубов с помощью воды и раствора питьевой соды, подающихся под давлением специальным аппаратом. Отбеливание Air flow не относится к агрессивным способам отбеливания, к тому же оно <strong>совершенно безболезненно</strong>. Процедура Air flow применяется перед протезированием, чтобы вернуть зубам природную пигментацию.</font></p>
<p></p>
<p><font face="SFUIText-Light" size="3"><strong>Ультразвуковой метод</strong></font></p>
<p><font face="SFUIText-Light" size="3">Ультразвуковой метод относится к профессиональной гигиене полости рта и позволяет избавиться от поверхностных отложений на зубах. Скелером — специальным инструментом, генерирующим ультразвук, — снимаются любые поверхностные отложения, при этом оболочка и ткани зубов не травмируются. Хотя методика ультразвукового отбеливания зубов не позволяет добиться идеального эффекта, соотношение эстетики и безопасности делает этот способ весьма популярным.</font></p>
