<p><font face="SFUIText-Bold" size="4">Давыдов Алексей Анатольевич, врач высшей категории, стоматолог-хирург-имплантолог</font></p>
<p><font face="SFUIText-Light" size="3">В 1994 году окончил Омский государственный медицинский институт. Лауреат Всероссийского конкурса «Врач года-2006». Член Всероссийской ассоциации имплантологов. Ежегодно участвует в научно-практических конференциях, проводимых Стоматологической ассоциацией России в гг. Москве и Омске. В 2005 г. прошел обучение по теме «Дентальные импланты ANTOGIR», г. Екатеринбург. В 2006 г. прошел обучение и получил сертификат «Введение в имплантологию» и «Современные методы лечения в имплантологии с использованием дентальных имплантатов Dentsply». Имеет международный сертификат «IMPLANT SYSTEM XIVE» фирмы Dentsply (Германия).</p>
