<p><font face="SFUIText-Bold" size="4">Фризена Наталья Сергеевна, стоматолог-терапевт, врач высшей категории</font></p>
<p><font face="SFUIText-Light" size="3">В 1973 году Наталья Сергеевна окончила Омский государственный медицинский институт. Опыт работы более 40 лет. Ежегодно участвует в научно-практических конференциях, проводимых Стоматологической ассоциацией России в гг. Москве и Омске. В 2001 году прошла мастер-класс и получила сертификаты по темам: «Художественная реставрация зубов» фирмы «Dentsply» и «3М», «Совершенствование техники обработки и обтурбации корневых каналов». Прошла практический курс у профессора Пола Даммера — «Эндодонтия 21 века». Участница Московской конференции Dentsply «Искусство в стоматологии» в марте 2009 года. 2016 год - участник курса повышения профессионального мастерства по теме: «Лазерная пародонтология»</p>
