<p><font face="SFUIText-Bold" size="4">Гаус Ксения Валерьевна, врач стоматолог-терапевт</font></p>
<p><font face="SFUIText-Light" size="3">в 2007 году закончила Омскую Государственную Медицинскую Академию. Работает в клинике «ВитаДент» с 2010 года. В 2011 году прошла мастер-класс и получила сертификат по темам: «Художественная реставрация зубов» фирмы «Dentsply» и «3М», «Совершенствование техники обработки и обтурбации корневых каналов». В 2012 году прошла практический курс у профессора Пола Даммера — «Эндодонтия XXI века». Участница Конгресса по эстетической стоматологии профессора Л.Ваннини (Италия) в 2013 году. В октябре 2014 года принимала участие в X Интернациональном Конгрессе фирмы VDW (Германия).</p>
