<p></p>
<p><font face="SFUIText-Bold" size="4">Имплантология</font></p>
<p><font face="SFUIText-Light" size="3">Благодаря разработке фирмы <strong>Dentsply Friadent</strong> дентальная имплантология приобрела за последние 30 лет функциональное и эстетическое совершенство. <strong>Система имплантатов XIVE</strong> компании Dentsply работает там, где другие системы достигают границ возможного. <strong>Dentsply Implants</strong> — высокотехнологичные, применяемые во всем мире, опробованные и тестированные более миллиона раз. Такие имплантаты имеют множество преимуществ по сравнению с остальными.</font></p>
<p><font face="SFUIText-Light" size="3">За 8 лет в клинике было установлено более 3000 имплантатов. Мы используем двухэтапный протокол и <strong>система XIVE</strong> помогает нам получить надежный и предсказуемый результат. Сегодня клиника ВитаДент дает гарантию на эту услугу.</font></p>
<p><font face="SFUIText-Light" size="3">На сегодняшний день клиника гарантирует стопроцентную приживаемость имплантатов. Имплантаты изготавливаются из титана и покрывается специальным составом. Для чего это нужно? Титан хорошо интегрируется с костной тканью, но для того чтобы процесс  приживаемости проходил максимально быстро и эффективно, на титан сверху наносится еще специальное покрытие. Покрытие обладает антибактериальными свойствами и хорошо интегрируется с мягкими тканями.</font></p>
<p><font face="SFUIText-Light" size="3">В клинике используются уникальные технологии — восстановление костной ткани и проводятся операции <strong>трансплантации</strong> костной ткани и <strong>синус-лифтинг.</strong></font></p>
<p><font face="SFUIText-Light" size="3">Прием ведет <a href="Davidov_services.html"><font color="blue">Давыдов Алексей Анатольевич</a></font> — хирург-имплантолог, врач первой категории, член Всероссийской ассоциации имплантологов. Профессионализм хирурга и постоянная стажировка в Германии, освоение инновационных технологий (синус-лифтинг, трансплантация костного блока) позволяют утверждать, что имплантаты – это надежно, удобно и долговечно.</p>
