<p><font face="SFUIText-Bold" size="4">Кузнецова Анна Александровна, старший зубной техник</font></p>
<p><font face="SFUIText-Light" size="3">В 1997 году окончила Омский республиканский медицинский колледж. Прошла специализацию по изготовлению металлокерамических коронок и сложных бюгельных протезов. В 2006 г. — практический курс «Имплантология сегодня» (Германия). В 2008 г. — практический курс «Протезирование на имплантатах XIVE» (Германия). Победитель чемпионата профессионального мастерства зубных техников Омской области 2007 г. в номинации «Комбинированное протезирование».</p>
