<p></p>
<p><font face="SFUIText-Bold" size="4">Ортодонтия</font></p>
<p><font face="SFUIText-Light" size="3">В нашей клинике проводится полное ортодонтическое лечение зубов, которое включает применение различных методов для коррекции самых разнообразных дефектов зубного ряда.</font></p>
<p><font face="SFUIText-Light" size="3">Мы устраняем дефекты как изолированно, так и в рамках комплексной программы реабилитации пациентов, которая включает ортопедические, ортодонтические и хирургические методы коррекции зубов:</font></p>
<ul>
    <li><font face="SFUIText-Light" size="3"><strong>Металлические брекеты</strong> — такие системы помогают исправить прикус в максимально короткие сроки.  Металлические брекет-системы являются самыми распространенными, это классические конструкции, способные быстро сделать вас обладателем красивой улыбки.</font></li>
    <li><font face="SFUIText-Light" size="3"><strong>Сапфировые брекеты</strong> — они почти не видны на зубах. Сапфировые брекеты ценятся за свой внешний вид, плюс ко всему они способны придать особый шарм вашей улыбке.</font></li>
    <li><font face="SFUIText-Light" size="3"><strong>Лигатурные брекеты</strong> — системы, в которых есть лигатуры, то есть элементы, соединяющие дугу с брекетами. Установка брекетов имеет одну особенность: лигатуры надо менять через какое-то время, так как фиксация дуги ослабевает.</font></li>
    <li><font face="SFUIText-Light" size="3"><strong>Самолигирующие брекеты</strong> — безлигатурные системы, оснащенные различными зажимами и замочками. Поставить такие брекеты довольно просто, при этом они помогают исправить даже очень сложные нарушения прикуса.</font></li>
</ul>
<p><font face="SFUIText-Light" size="3">Прием ведет <a title="Чесноков Вячеслав Анатольевич" href="chesnokof'sPage">Чесноков Вячеслав Анатольевич</a>, врач стоматолог-ортодонт.</font></p>
