<p></p>
<p><font face="SFUIText-Bold" size="4">Пародонтология</font></p>
<p><font face="SFUIText-Light" size="3">Пародонтоз – весьма неприятное заболевание, при первых же признаках которого необходимо срочно начинать лечение, чтобы заболевание не привело к непоправимым последствиям.</font></p>
<p><font face="SFUIText-Light" size="3">Общее лечение пародонтоза подразумевает, в первую очередь, стимуляцию иммунитета, противовоспалительное и общеукрепляющее воздействие для повышения регенерации тканей. Необходимы консультации терапевта, эндокринолога, иммунолога, невролога и других специалистов.</font></p>
<p><font face="SFUIText-Light" size="3"><strong>Местное лечение</strong> пародонтоза включает в себя прежде всего мероприятия по снижению воспалительного процесса. Иногда прибегают к хирургическим методам лечения пародонтоза для устранения патологических образований.</font></p>
<p><font face="SFUIText-Light" size="3">Эффективной технологией лечения пародонтоза является применение <strong>ультразвукового прибора «Вектор».</strong> Благодаря применению модифицированной ультразвуковой волны этот прибор позволяет проводить лечение полностью безболезненно, не травмируя десну и практически не дотрагиваясь до зубов. Максимальную эффективность «Вектора» определяет возможность почистить зубные отложения и отполировать поверхность зуба во избежание образования новых отложений.</font></p>
<p><font face="SFUIText-Light" size="3" color="red"><strong>Новинка!!!</strong></font></p>
<p><font face="SFUIText-Light" size="3">Самым эффективным методом борьбы с данным заболеванием является <strong>лечение лазером PICASSO.</strong> Суть его заключается в удалении лазерным лучом пародонтозных карманов и обеспечения максимальной чистоты, которую не удается достичь другими способами, механическим или хирургическим методами.</font></p>
