<p><font face="SFUIText-Bold" size="4">Позюмский Алексей Андреевич, врач высшей категории, стоматолог-ортопед-имплантолог</font></p>
<p><font face="SFUIText-Light" size="3">В 2002 году окончил Омскую государственную медицинскую академию. Работает в клинике «ВитаДент» с 2005 года. Ежегодно участвует в научно-практических конференциях, проводимых Стоматологической ассоциацией России в гг. Москве и Омске. В 2004 и 2006 гг. прошел обучение и получил сертификаты «Имплантология в ортопедической стоматологии» и «Непрямые эстетические реставрации на опорных зубах и имплантатах». В 2007 году получил сертификат «Имплантология. Прогрессивные методики», обучение в Германии. В 2009-2010 гг. участвовал в научно-практических конференциях «Дентал-Экспо» в г. Москве. В 2012 году получил международный сертификат «IMPLANT SYSTEM XIVE» фирмы Dentsply (Германия).</p>
