<p></p>
<p><font face="SFUIText-Bold" size="4">Профилактика стоматологических заболеваний</font></p>
<p><font face="SFUIText-Light" size="3">Пациента не только обучают правильной гигиене полости рта, но и используют различные препараты профилактики кариеса, такие как глубокое фторирование. Профессиональная чистка зубов производится с помощью ультразвуковой системы <strong>Piezon Master</strong> фирмы <strong>ЕМS и AIR FLOW.</strong></font></p>
