<p></p>
<p><font face="SFUIText-Bold" size="4">Ортопедическая стоматология (протезирование)</font></p>
<p><font face="SFUIText-Light" size="3">От эстетических металлокерамических коронок последнего поколения – до современных высокофункциональных бюгельных протезов (с замковыми креплениями). Владеем всеми видами съемного и несъемного протезирования. Керамические виниры. Безметалловая керамика. Применение безметалловых конструкций с использованием керамики на основе стекловолокна. Из этой керамики можно изготовить отличающиеся высокой эстетикой виниры (что позволяет избежать постановки коронок и оставить зубы «живыми»), а также вкладки. Вкладки представляют собой те же пломбы, но изготовленные в лабораторных условиях. Они идеально подбираются под цвет зуба, обладают высокой прочностью и долговечностью.</p>
<p><font face="SFUIText-Light" size="3"><strong>Металлокерамические коронки</strong></font></p>
<p><font face="SFUIText-Light" size="3">Такие коронки наиболее часто применяются в качестве опорных элементов при протезировании зубов, поскольку позволяют добиться предсказуемых результатов за счет соблюдения эстетических, биологических и функциональных требований.</font></p>
<p><font face="SFUIText-Light" size="3"><strong>Безметалловая керамика</strong></font></p>
<p><font face="SFUIText-Light" size="3">Новейшее достижение современной стоматологии — это безметалловая керамика на основе диоксида циркония, которая позволяет изготовить легкие, надежные и самые эстетичные коронки. Внешне эта коронка даже для стоматолога неотличима от живого зуба. Она имеет ряд преимуществ: имитирует живой зуб, не меняет цвет, имеет идеальное краевое прилегание, т. к. изготавливается методом на основе компьютерного моделирования. Безметалловая керамика абсолютно безвредна для организма, не вызывает аллергических реакций.</font></p>
<p><font face="SFUIText-Light" size="3">Безусловно, безметалловая керамика стоит дороже, чем металлокерамика, поэтому часто врачами предлагается комбинированный вариант протезирования: безметалловая керамика на фронтальную группу зубов и металлокерамика на жевательную группу.</font></p>
<p><font face="SFUIText-Light" size="3"><strong>Керамические виниры</strong></font></p>
<p><font face="SFUIText-Light" size="3">Представляют собой тонкую,  керамическую пластинку, плотно фиксированную на поверхности зуба.  Для их изготовления с поверхности зуба снимается тонкий слой, после чего делается слепок подготовленного зуба, и в лаборатории изготавливается соответствующая керамическая накладка. Постоянный винир крепится на зубе с помощью специального стоматологического затвердевающего вещества.</font></p>
<p><font face="SFUIText-Light" size="3">Обладая естественным видом, виниры формируются индивидуально для каждого пациента. С помощью виниров можно достичь нужной формы и цвета зубов, получить желаемую идеальную улыбку. С помощью виниров можно достичь нужной формы и цвета зубов, получить идеальную улыбку.</font></p>
