<p><font face="SFUIText-Bold" size="4">Ростопшин Сергей Петрович, врач высшей категории, стоматолог-хирург</font></p>
<p><font face="SFUIText-Light" size="3">В 1987 году окончил Омский государственный медицинский институт. Стаж работы более 25 лет. Работает в клинике «ВитаДент» с момента ее основания. Ежегодно участвует в научно-практических конференциях, проводимых Стоматологической ассоциацией России в гг. Москве и Омске. Прошел обучение и получил сертификат по имплантологии израильской фирмы Alpha Bio в 2006 году. Неоднократно принимал участие в Международных конференциях и выставках «Дентал-Экспо» и «Дентал-Ревю» в г. Москве.</p>
<p><a href="Surgery_service.html"><font color="blue">Вернуться назад</font></a></p>
