<p><font face="SFUIText-Bold" size="4">Рубцова Ольга Сергеевна, стоматолог-терапевт, стоматолог детский</font></p>
<p><font face="SFUIText-Light" size="3">В 2013 году с отличием окончила Омскую государственную медицинскую академию, имеет сертификаты: — «Стоматология общей практики» , «Стоматология терапевтическая», «Стоматология детская». В марте 2016 года прошла обучение по реставрации фирмы Dentsply (Германия) Июнь 2016 года имеет сертификат «Практические нюансы каждодневной эндодонтии», курс доктора М. Соломонова (Израиль). Прошла мастер-класс у доктора Julian Webber (Великобритания) и сертификат «Совершенство в эндодонтии».</p>
