<p></p>
<p><font face="SFUIText-Bold" size="4">Хирургическая стоматология</font></p>
<p><font face="SFUIText-Light" size="3">Политика всех врачей нашей клиники &ndash; максимальное сохранение зубов. В случаях, когда удаление зуба необходимо по медицинским показаниям, всегда лучше, чтобы эту операцию провел хирург.</font></p>
<p><font face="SFUIText-Light" size="3">Наши хирурги-стоматологи, работают на современном высококлассном оборудовании. Даже самое сложное удаление зуба наши доктора проводят безболезненно и без каких-либо осложнений.</font></p>
<p><font face="SFUIText-Light" size="3">Приём ведёт хирург-стоматолог <font color="blue"><a href="Rostopshin_services.html">Ростопшин Сергей Петрович</a></font> &mdash; врач высшей категории виртуозно проводит безболезненное удаление зубов, корней, ретенционных кист.</font></p>
