<p></p>
<p><font face="SFUIText-Bold" size="4">Терапевтическая стоматология и реставрация зубов</font></p>
<p><font face="SFUIText-Light" size="3">Последние разработки механической обработки каналов <strong>(Ni-Ti Rotary files – ProTaper)</strong> обеспечивают быстрое, безболезненное и надежное расширение каналов и пломбирование их с помощью гуттаперчевых штифтов на всю жизнь. Сегодня все больше пациентов хотят иметь идеальную улыбку, поэтому они все чаще требуют от стоматологов не столько лечения, сколько эстетических достижений в восстановлении внешнего вида здоровых зубов.</font></p>
<p><font face="SFUIText-Light" size="3"><strong>Косметическая реставрация зубов</strong></font></p>
<p><font face="SFUIText-Light" size="3">Косметическая реставрация зубов это методика,при которой восстанавливается гармония цвета и формы естественного зуба. Воспроизведение естественных форм – это скорее искусство, чем наука, и не каждый стоматолог владеет этим искусством.</font></p>
<p><font face="SFUIText-Light" size="3">Клиника «ВитаДент» предлагает уникальную технологию высокохудожественной реставрации, позволяющую изменить форму, цвет и прозрачность не только одного зуба, но и зубного ряда в целом. Пломбирование осуществляется только светоотверждаемыми пломбировочными материалами фирмы Dentsply, <strong>3M ESPE</strong>. Современные анастетики обеспечивают лечение без боли.</font></p>
<p><font face="SFUIText-Light" size="3"><i>Создавая естественную красоту, мы создаем вам новую репутацию!</i></font></p>
